/vendor
/node_modules
/public/storage
/storage/*.key
/bootstrap/cache/*.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
.env
.env.backup
.env.local
.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
